html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; 
}

body {
  background-image: url('../img/backround.png');
  background-repeat: repeat;
  background-position: center center;
}

.height-screen {
  min-height: 629px;
  max-height: 630px;
  overflow-y: auto;
  padding-bottom: 120px;
}

.add-row {
  height: 120px;
}


.preferred-location-lg-screen {
  height: 630px;
}

.consumed-pwd {
  min-height: 629px;
  max-height: 630px;
  overflow-y: auto;
  padding-bottom: 120px;
}

.billing-screen {
  height: 630px;
}

@media (min-width: 768px) {
  .height-screen {
    min-height: 95vh;
    max-height: none;
  }
  .preferred-location-lg-screen {
    min-height: 95vh;
    max-height: none;
  }
  .consumed-pwd {
    min-height: 95vh;
  }
  .billing-screen {
    min-height: 95vh;
  }
}

.form-control {
  border-radius: 30px !important;
}

.login-btn {
  font-size: 1.3rem;
  background-color: #094443;
  border: 2px solid #1FC4C2;
  color: white;
  padding: 8px 40px;
  border-radius: 30px;
}

.text-logo {
  font-weight: 550;
  font-size: 1.4rem;
  color: #22C4C2;
  margin: 10px 10px !important;
}

.preferred-location {
  height: 100%;
  border-radius: 35px;
}

.admin-options {
  max-height: 300px;
  overflow-y: auto;
}

.table-overflow {
  max-height: 500px;
  overflow-y: auto;
}

.th-table {
  font-weight: 350 !important;
  color: #303b46;
}

.select-item {
  width: 70%;
  height: 35px;
}

.more-info-accordion {
  display: flex;
  text-align: center;
  width: 100%;
  border: none;
  background-color: white;
}

.accordion-header {
  border: none;
}

.img-settings {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.img-settings-admin {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.text-charger-info {
  color: #2c3e51;
  font-size: 1.2rem;
  font-weight: 250;
}

.add-station-map {
  width: 100%;
  height:400px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
}

.option-item {
  font-size: 1.3rem;
  font-weight: 250;
  text-decoration: none;
  color: #2c3e51;
}

.standard-text-style {
  font-size: 1.3rem;
  font-weight: 250;
  text-decoration: none;
  color: #2c3e51;
}

.send-button {
  font-size: 1.6rem;
  font-weight: 250;
  text-decoration: none;
  color: #2c3e51;
  background-color: white;
  border-radius: 30px;
  padding: 8px 30px;
  border-color: #2c3e51;
}

.reg-btn {
  color: #303b46;
  font-size: 1.1rem;
}

.classical-btn {
  font-size: 1.3rem;
  font-weight: 250;
  text-decoration: none;
  color: #2c3e51;
  background-color: white;
  border-radius: 30px;
  padding: 8px 30px;
  border-color: #2c3e51;
}

.update-btn {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.billing-update-btn {
  width: 40px;
  height: 40px;
  background-image: url("https://img.icons8.com/ios/50/000000/restart--v1.png");
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.add-button {
  font-size: 1.3rem;
  font-weight: 250;
  text-decoration: none;
  color: #2c3e51;
  background-color: white;
  border-radius: 30px;
  padding: 8px 30px;
  border-color: #2c3e51;
}

.add-balance-btn {
  font-size: 1.1rem;
  font-weight: 550;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 5px 15px;
  border-color: #2c3e51;
}

.cancel {
  border-color: #fc6363;
}

.menu-nav-link {
  width: 30%;
  height: 100px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.9);
  background-color: white;
}

.start-link {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.body-panel {
  background-color: white;
  width: 100%;
  height: auto;
  min-height: 55%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.9);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  z-index: -999;
}

.start-btn {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.home-body {
  text-align: center;
  color: #2c3e51;
}

.home-body > * {
  display: block;
  margin: 0 auto;
}

.general-text {
  font-size: 1.9rem;
  line-height: 40px;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
.logo {
  justify-content: center;
  width: 100%;
  text-align: center;
  display: flex;
  padding-top: 10px; }

.contener-box {
  display: flex;
  margin-top: 20px;
  align-items: center; }
  .contener-box img {
    width: 30px;
    height: 30px; }

.contener-box-txt {
  padding-left: 30px; }
  .contener-box-txt span {
    font-style: normal;
    font-family: "HelveticaNeueCyr-Roman";
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #4E4E4E; }

.contener {
  padding-right: 15px;
  padding-left: 15px; }

.contener-box-title {
  font-family: "HelveticaNeueCyr-Medium";
  font-style: normal;
  font-size: 18px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #393939; }

.txt-green span {
  font-family: "HelveticaNeueCyr-Roman";
  color: #00008B;
  font-size: 20px;
  line-height: 14px; }

.txt-red span {
  font-family: "HelveticaNeueCyr-Roman";
  color: #E74C3C;
  font-size: 18px;
  line-height: 14px; }

.timer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-family: "HelveticaNeueCyr-Roman";
  font-weight: normal;
  font-size: 48px;
  line-height: 48px; 
}

.timer span {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #2c3e51;
  text-align: center;
}

.btn-wrap {
  display: flex;
  margin-top: 20px;
  margin-bottom: 120px;
  justify-content: center;
}

.btn-wrap button {
  font-size: 1.6rem;
  font-weight: 250;
  text-decoration: none;
  color: #2c3e51;
  background-color: white;
  border-radius: 30px;
  padding: 8px 30px;
  border-color: #2c3e51;
}

.pd-green {
  padding-left: 5px; }

.contener-light-title {
  font-style: normal;
  font-size: 18px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #393939; }

.help-wrap {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; }

.help a {
  font-family: "HelveticaNeueCyr-Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 9px;
  text-decoration: none;
  color: #62676D;
  display: flex;
  align-items: center; }
.help img {
  margin-right: 3px; }

.main-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 998;
}

.panel-container {
  width: 100%;
  height: 0px;
  background-color: white;
  color: #2c3e51;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: height 0.3s ease;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
}

.panel-content {
  padding: 10px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.panel-toggle {
  cursor: pointer;
  padding: 10px;
  background-color: #555;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.panel-content-expanded {
  height: 700px; /* Высота раскрытой панели */
}

.menu-bg {
  margin-top: 20px;
  height: 55px;
  background: radial-gradient(50% 50% at 50% 50%, #303b46 0%, rgba(89, 95, 101, 0.94) 100%); }

  .menu-bg ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: center; }
  .menu-bg img {
    margin-bottom: 10px; }
  .menu-bg a {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 8px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    color: #FFFFFF; }
    .menu-bg a:hover {
      color: #508CD1; }

a.active {
  color: #508CD1; }

.hidden {
  width: 100%;
  padding: 0;
  margin: auto;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear; }

.hidden_admin {
  display: none;
}

.active {
  padding: 10px;
  visibility: visible;
  height: auto;
  opacity: 1; }

.color {
  background: #F1F1F1; }

.contener-box-js {
  display: flex;
  position: relative;
  align-items: center; }
  .contener-box-js img {
    width: 30px;
    height: 30px; }

.contener-bg {
  padding-top: 5px;
  margin-top: 20px; }

.hidden-wrap {
  display: flex; }

.left a {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 9px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #4E4E4E;
  display: flex;
  flex-direction: column;
  font-family: "HelveticaNeueCyr-Roman"; }

.right {
  margin-left: 20px;
  width: 217px;
  font-family: "HelveticaNeueCyr-Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #4E4E4E; }

.arrow {
  position: absolute;
  right: 0;
  top: 7px;
  width: 7px;
  height: 12px;
  transition: 0.3s;
  background-image: url(../img/Arrow.png); }

.hover-arrow {
  opacity: 0.6;
  transform: rotate(90deg); }

.menu-bg {
  position: fixed;
  bottom: 0;
  width: 100%; }

@media only screen and (max-width: 320px) {
  .menu-bg {
    position: relative;
    bottom: 0;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */

.instructionText{
  font-display: swap;
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 220px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2c3e51;
}

@media only screen and (max-width: 400px) {
  .instructionText {
    font-size: 15px;
  }
}

.restorePass{
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
  font-style: normal;
  margin-bottom: 10px;
  font-display: swap;
  font-size: 15px;
}

.commonTextLittle{
  font-size: 1.1rem;
}

.commonText{
  font-size: 1.5rem;
  color: #2c3e51;
}

.commonTextTitle{
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
  font-style: normal;

  font-display: swap;
  font-size: 24px;
}

table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center; margin-bottom: 55px; font-family: "HelveticaNeueCyr-Roman"}
	table.iksweb th{font-weight:normal;font-size:17px; color:#ffffff;background-color:#4E4E4E;}
	table.iksweb td{font-size:17px;color:#4E4E4E;}
	table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:13px 5px;line-height:13px;vertical-align: middle;border: 1px solid #4E4E4E;}	table.iksweb tr:hover{background-color:#f9fafb}
	table.iksweb tr:hover td{color:#4E4E4E;cursor:default;}
  .mobile-table{width: 100%; max-width: 100%; overflow-x: auto;}
  
  * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.form{
  margin-bottom: 150px;
}

.form-register {
  margin-bottom: 110px;
}

.commonButton {
  
  background-color: #4E4E4E; /* Green */
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.commonButton2 {
  
  background-color: #0c0404; /* Green */
  border: none;
  color: white;
  padding: 10px 26px;
  margin: 20px;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.timerTable {
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #2c3e51;
}

.timerTable th,td{
  border-collapse: collapse;
  text-align: center;
}

.timerTableTitle{
  font-size: 1.3rem;
  font-weight: 300;
  color: #2c3e51;
}

.popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 186, 0, 0.7);
  z-index: 100;
}

/* Основные стили для всплывающего окна */
.popWindow{
  display: none;
  background-color: white;
  color: #2c3e51;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0px;
  box-shadow: 0 0 30px rgba(18, 17, 12, 0.9);
}
