
<div style="height: 630px;">
    <div
        class="add-station-map"
        id="map"
    ></div>

    <div class="mx-3 mt-3">
        <div class="standard-text-style d-flex align-items-center justify-content-center">
            Укажите локацию на карте:
            <img
                src="img/2gis-marker.png"
                alt="2gis"
                style="width: 50px; height: auto;"
            >
        </div>
    </div>

    <div class="mt-4 d-flex align-items-center justify-content-center">
        <button class="send-button" onclick="addLocation()">Отправить</button>
    </div>
</div>



<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    let map;
    let marker;
    DG.then(function () {

        map = DG.map('map', {
            center: [55.99, 92.87],
            zoom: 12
        });
        map.on('click', function (ev) {
            if (marker != undefined)
                marker.setLatLng(ev.latlng);
            else {
                marker = DG.marker(ev.latlng).addTo(map);
            }
        });

    });

    function addLocation() {
        if (!marker) {
            alert("Добавьте маркер на карту");
            return;
        }
        const location = { lat: marker._latlng.lat, lng: marker._latlng.lng }
        $.ajax({
            url: `/addPreferredLocation`,
            type: 'POST',
            data: location,
            dataType: 'json',
            success: function (res) {
                alert("Станция добавлена");
                document.location.href = "/";
            }
        });
    }
</script>
