<div class="billing-screen" id="timersDiv">
    <table class="mt-4 mt-md-3 mb-5 mb-md-3 table text-center" id="billingTable">
        <thead>
            <tr>
                <th class="th-table">Номер станции</th>
                <th class="th-table">Стоимость кВт*ч, руб.</th>
                <th class="th-table">Комиссия, %</th>
                <th class="th-table">Адрес</th>
                <th class="th-table">Номер сим-карты</th>
                <th class="th-table">В сети</th>
                <th class="th-table">Занята</th>
                <th class="th-table">Обновить</th>
            </tr>
        </thead>
        <tbody style="padding-bottom: 10%;">
        </tbody>
    </table>
</div>

<script>

    $('document').ready(function () {

        $.ajax({
            url: `/stations`,
            type: 'GET',
            dataType: 'json',
            success: (data) => {

                for (let i = 0; i < data.length; i++) {

                    let stationNum = data[i].stationNum;
                    let price = data[i].price;
                    let comission = data[i].comission;
                    let address = data[i].address;

                    let simCardPhone = data[i].simCardPhone;

                    let onLink;
                    let estabState;


                    if (data[i].onLink) {
                        onLink = '<p style="color:lime;">Да</p>';
                    }
                    else {
                        onLink = '<p style="color:red;">Нет</p>';
                    }

                    if (data[i].estabState) {
                        estabState = '<p style="color:lime;">Да</p>';
                    }
                    else {
                        estabState = '<p style="color:red;">Нет</p>';
                    }

                    let row = `<tr>
				<td><a href='/stationBilling?num=${stationNum}'>${stationNum}</a></td>
				<td><input type="text" id="price_${stationNum}" value="${price}" size = "4"}></td>
				<td><input type="text" id="comission_${stationNum}" value="${comission}" size = "4"}></td>
                <td><p>${address}</p></td>
                <td><p>${simCardPhone}</p></td>
                <td>${onLink}</td>
                <td>${estabState}</td>
				<td><button class="billing-update-btn" onclick="update(${stationNum})"></td></tr>`

                    $('#billingTable').append(row);
                }

                let row_add = `<tr>
                <td class="add-row">.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td></tr>`

                $('#billingTable').append(row_add);

                
            }
        })
    })



    function update(stationNum) {

        let priceValue = document.getElementById(`price_${stationNum}`).value;
        let comissionValue = document.getElementById(`comission_${stationNum}`).value;

        let priceStr = priceValue.split(/[,.]/);
        let rubStr = priceStr[0];
        let kopStr = priceStr[1];

        if (kopStr === undefined) kopStr = '00';


        let kop;
        if (kopStr.length === 2) {
            kop = parseInt(kopStr);
        }
        else {
            kop = parseInt(kopStr) * 10;
        }


        if (!Number.isInteger(kop)) { alert("Неправильная цена"); return }
        if (kop > 100) { alert("Неправильная цена"); return }

        let rub = parseInt(rubStr);
        if (!Number.isInteger(rub)) { alert("Неправильная цена"); return }

        let checkedPrice = rub * 100 + kop;


        let comissionStr = comissionValue.split(/[,.]/);
        let wholeStr = comissionStr[0];
        let fracStr = comissionStr[1];

        if (fracStr === undefined) fracStr = '00';
        let frac;
        if (fracStr.length === 2) {
            frac = parseInt(fracStr);
        }
        else {
            frac = parseInt(fracStr) * 10;
        }


        if (!Number.isInteger(frac)) { alert("Неправильный процент"); return }
        if (frac > 100) { alert("Неправильный процент"); return }

        let whore = parseInt(wholeStr);
        if (!Number.isInteger(whore)) { alert("Неправильный процент"); return }

        let checkedComission = (whore * 100 + frac) / 100;
        console.log(checkedComission)

        let params = {};

        params.price = checkedPrice;
        params.comission = checkedComission;
        params.stationNum = stationNum;

        $.ajax({
            url: `/updateBillingParams`,
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(params),
            success: (sessions) => {

                location.reload();
            }
        })

    }

</script>
