<div class="mobile-table consumed-pwd">
	<div class="admin-header mt-4 d-flex align-items-center">
		<a href="/profile">
			<img
				src="img/icons8-back-50.png"
				alt="back"
				class="back-img"
			>
		</a>
		Потребление
	</div>
	<table class="mt-5 mt-md-3 mb-5 mb-md-3 table text-center" id="consumedPowerTable">
		<thead>
				<tr>
					<th class="th-table" scope="col">Станция</th>
					<th class="th-table" scope="col">Заряд, квт*ч</th>
				</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr>
				<td>{{this.stationNum}}</td>
				<td>{{this.cp}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
