<div
    class="instructionText overflow-auto"
    style="min-height: 220px; max-height: 730px; overflow-y: auto; padding-bottom: 200px;"
>
    {{!-- <span>
        1. Для начала зарядки нажмите круглую кнопку (под этой инструкцией). <br>
        2. Выберете нужную станцию на карте (нажмите) и доберитесь до нее на электромобиле<br>
        3. Вставьте в розетку зарядное устройство (евровилку), а с другой стороны
        подключите его к электромобилю.<br>
        4. Нажмите на кнопку "Начать зарядку" <br>
        5. Индикатор на станции станет зеленым.
        6. Если вы хотите остановить зарядку, нажмите "Остановить зарядку". Статистика
        заряда отобразится в "Истории".<br>
    </span> --}}

    <div class="text-center" style="font-size: 1.5rem; font-weight: 450;">Рады видеть вас снова!</div>
    <div class="accordion mt-4" id="accordionExample">
		<div class="accordion-item accordion-item-home-screen">
			<div class="accordion-header" id="headingOne">
				<button class="more-info-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<div class="d-flex mx-2 align-items-center">
						<img
							src="/img/question.png"
							alt="logo-link"
							class="img-settings"
						/>
						<div class="text-charger-info">
                            Как начать?
						</div>
					</div>
				</button>
			</div>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body mt-3 p-0 devise-mode">
                    <span style="font-size: 1.2rem">
                        1. Установите приложение:
                    </span>
                    <div class="justify-content-center mt-3 mb-5">
                        <a href="/installation" style="border: 2px solid;" class="classical-btn">Инструкция по установке</a>
                    </div>
                    <span style="font-size: 1.2rem">
                        2. Чтобы начать зарядку - следуйте инструкции:
                    </span>
					<img
                        src="img/backgor-img.png"
                        alt="inst-img"
                        class="w-100 mt-3"
                    >
				</div>
			</div>
		</div>
	</div>
    
    <div class="start-btn d-flex justify-content-center">
        <a href="/map" class="start-link rounded-circle d-flex align-items-center justify-content-center">
            <img src="img/logo_small.png" onclick="main()" alt="Your Image" class="rounded-circle" style="width: 100px; height: 100px;">
        </a>
    </div>
</div>