<div class="instructionText overflow-auto">
    <div>Как пользоваться:</div>
    <br>
    <span>
        1. Найдите свободную станцию на карте (ярко синий ящик, напоминающий почтовый), доберитесь к ней на электромобиле.<br>
        2. Поднимите вверх крышку розетки и вставьте в розетку зарядное устройство (евровилку), а с другой стороны
        подключите его к электромобилю.<br>
        3. На сайте выберите станцию где вы находитесь, и нажмите "Начать зарядку"<br>
        4. Индикатор на станции станет зеленым, а на экране телефона отобразится время заряда.<br>
        5. Если вы хотите остановить зарядку, нажмите "Остановить зарядку". Статистика
        заряда отобразится в "Истории".<br>
        6. Вытащите вилку и закройте крышку розетки.
    </span>

    <div class="start-btn d-flex justify-content-center">
        <a href="#" class="start-link rounded-circle d-flex align-items-center justify-content-center">
            <img src="img/logo_small.png" alt="Your Image" class="rounded-circle" style="width: 100px; height: 100px;">
        </a>
    </div>
</div>