<div class="instructionText">
    <div>Правила пользования зарядными станциями:</div>
    <br>
    <span>
        1. Найдите свободную станцию на карте, доберитесь к ней на электромобиле и найдите ее на местности (обычно,
        станции
        размещаются на фасаде на уровне глаз и представляют собой ярко синий ящик, напоминающий почтовый)<br>
        2. Поднимите вверх крышку розетки и вставьте в розетку зарядное устройство (евровилку), а с другой стороны
        подключите его к электромобилю.<br>
        3. На сайте выберите станцию, около которой Вы стоите и нажмите "Начать зарядку"<br>
        4. Индикатор на станции станет зеленым, а на экране телефона отобразится время заряда.<br>
        5. Если вы хотите остановить зарядку, нажмите "Остановить зарядку" в телефоне. Таймер остановится, а статистика
        заряда будет в разделе "История".<br>
        6. Вытащите вилку и закройте крышку розетки (она опустится сама).
        <br> Поздравляем, Вы восхитительны!</span>
</div>