<div class="d-flex justify-content-center align-items-center text-center mt-5 mt-md-3">
    <div class="text-logo">
        SOH100
    </div>
    <div class="img-logo">
        <img src="img/logo_small.png" alt="logo">
    </div>
</div>

<form class="form container">
    <div class="mx-4 mt-5 mt-md-3">
        <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
            Телефон:
        </div>
        <div class="input-group mb-3">
            <input style="padding: 8px;" type="text" class="form-control" placeholder="+7(___)___-____" aria-describedby="basic-addon1" id="phone" required>
        </div>
        <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info mt-3">
            Пароль:
        </div>
        <div class="input-group mb-3">
            <input style="padding: 8px;" type="password" class="form-control" aria-describedby="basic-addon1" id="password" required>
        </div>
        <div class="row mt-5 mt-md-3 d-flex justify-content-center align-items-center text-center">
            <div class="col">
                <a class="reg-btn" href="/registration">Регистарация</a>
                <a class="reg-btn" href="/resetPassword">Забыли пароль?</a>
            </div>
            <div class="col">
                <button class="login-btn" type="button" onclick="login()">Войти</button>
            </div>
        </div>
    </div>
</form>

<script>
    function login() {
        let phone = (document.getElementById('phone').value).replace(/[-+()\s]/g, '');
        const password = document.getElementById('password').value;

        if (phone[0] == '8') phone = phone.replace('8', '7');

        const req = { phone: phone, password: password };

        const options = {
            method: 'POST',
            body: JSON.stringify(req),
            headers: { 'Content-Type': 'application/json' }
        }
        fetch('login', options)
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    if(data.url)
                        document.location.href = data.url;
                    else
                        document.location.href = "/";
                }
                else {
                    alert(data.msg);
                }
            })
    }
</script>