<div style="height: 630px;">
    <div
        class="preferred-location"
        id="map"
    ></div>
</div>


<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [55.99, 92.87],
            zoom: 11
        });
        const options = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
        }
        fetch('prefferedLocation', options)
            .then(res => res.json())
            .then(locations => {


                for (let loc of locations) {
                    const text = loc.phone;
                    DG.marker(loc.latLng).addTo(map).bindPopup(text);
                }
            });
    });
</script>