<div class="phone-number mt-3 mt-md-3">
    <div class="d-flex justify-content-between mx-2 align-items-center">
        <img
            src="/img/ruble-50.png"
            alt="logo-link"
            class="img-settings"
            style="margin-left: 8px;"
        />
        <div style="font-weight: 450;" class="text-charger-info">
            {{balance}} руб.
        </div>
        <button class="add-balance-btn" onclick="location.href='/payment'">
            Пополнить
        </button>
    </div>
</div>

<div class="accordion mt-2" id="accordionExample_1">
    <div class="accordion-item">
        <div class="accordion-header py-2" id="headingTwo">
            <button class="more-info-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <div class="d-flex mx-2 align-items-center">
                    <img
                        src="/img/admin-50.png"
                        alt="logo-link"
                        class="img-settings"
                    />
                    <div class="text-charger-info">
                        Опции админа
                    </div>
                </div>
            </button>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample_1">
            <div class="accordion-body" style="max-height: 310px; overflow-y: auto;">
                <div class="admin-options row">
                    <div class="offset-2 col-10">
                        {{#if sesionButtonVisible}}
                        <a href="#" onclick="location.href='/sessions'" class="d-flex text-decoration-none mx-2 align-items-center">
                            <img
                                src="/img/admin_option/session-timeout-50.png"
                                alt="logo-link"
                                class="img-settings-admin"
                            />
                            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
                                История сессий
                            </div>
                        </a>
                        <a href="#" onclick="location.href='/preferredLocation'" class="d-flex text-decoration-none mt-3 mx-2 align-items-center">
                            <img
                                src="/img/admin_option/place-50.png"
                                alt="logo-link"
                                class="img-settings-admin"
                            />
                            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
                                Предпочитаемые места
                            </div>
                        </a>
                        <a href="#" onclick="location.href='/totalConsumedPwr'" class="d-flex text-decoration-none mt-3 mx-2 align-items-center">
                            <img
                                src="/img/admin_option/light-automation-50.png"
                                alt="logo-link"
                                class="img-settings-admin"
                            />
                            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
                                Потребление
                            </div>
                        </a>
                        <a href="#" onclick="location.href='/billingControl'" class="d-flex text-decoration-none mt-3 mx-2 align-items-center">
                            <img
                                src="/img/admin_option/billing-50.png"
                                alt="logo-link"
                                class="img-settings-admin"
                            />
                            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
                                Настройка станций
                            </div>
                        </a>
                        <a href="#" onclick="location.href='/payMentList'" class="d-flex text-decoration-none mt-3 mx-2 align-items-center">
                            <img
                                src="/img/admin_option/cash-register-50.png"
                                alt="logo-link"
                                class="img-settings-admin"
                            />
                            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
                                История платежей
                            </div>
                        </a>
                        {{/if}} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="accordion" style="margin-bottom: 120px;" id="accordionExample">
		<div class="accordion-item">
			<div class="accordion-header py-2" id="headingOne">
				<button class="more-info-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<div class="d-flex mx-2 align-items-center">
						<img
							src="/img/timer-50.png"
							alt="logo-link"
							class="img-settings"
						/>
						<div class="text-charger-info">
							Мои таймеры
						</div>
					</div>
				</button>
			</div>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body" style="max-height: 310px; overflow-y: auto;">
					<div class="popWindow timer_info">
                        <div>
                            <p id="timer_info_text" class="commonText"></p>
                            <br>
                        </div>
                    </div>

                    <div class="timersDiv" id="timersDiv">
                        <p class="timerTableTitle">Таймеры включения станции</p>

                            <div class="row mt-5 d-flex text-center justify-content-center">
                                <div class="col-6">
                                    <button class="classical-btn" onclick="showTimerForm()">Добавить</button>
                                </div>
                                <div class="col-6">
                                    <button class="classical-btn" onclick="saveTimers()">Сохранить</button>
                                </div>
                            </div>

                        <table class="mt-5 mt-md-3 mb-5 mb-md-3 table" id="timersTable">
                            <thead>
                                <tr>
                                <th class="th-table" scope="col">Включено</th>
                                <th class="th-table" scope="col">Время</th>
                                <th class="th-table" scope="col">Станция</th>
                                <th class="th-table" scope="col">Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</div>

<div class="popWindow subscribe_window">
    <div class="justify-content-center text-center">
        <div class="commonText mt-4">Выберите номер станции</div>
        <select class="select-item mt-5 mt-md-2" id="stationSelector">
        </select>
    </div>
    <div class="row mt-5 mt-md-3 d-flex text-center justify-content-center">
        <div class="col-6">
            <button class="add-button" onclick="addTimer()">Добавить</button>
        </div>
        <div class="col-6">
            <button class="add-button cancel" onclick="hideTimerForm()">Отмена</button>
        </div>
    </div>
</div>

<script>
    let savedUserStations;
    var $subscribeWindow = $(".subscribe_window");
    var $timer_info = $(".timer_info");
    var $popOverlay = $(".popup-overlay");
    $('document').ready(function () {

        $.ajax({
            url: `/myStations`,
            type: 'GET',
            dataType: 'json',
            success: (userStations) => {

                savedUserStations = userStations;

                for (sta of userStations) {
                    $('#stationSelector').append($("<option></option>")
                        .attr("value", sta.stationNum)
                        .text(sta.stationNum));


                    for (timer of sta.timers) {

                        $('#timersDiv').css('visibility', 'visible');

                        let timerValueHour = parseInt(timer.timerValue / 3600);

                        if (timerValueHour < 10)
                            timerValueHour = '0' + timerValueHour;
                        else
                            timerValueHour = timerValueHour + '';

                        let timerValueMinutes = parseInt((timer.timerValue - timerValueHour * 3600) / 60);
                        if (timerValueMinutes < 10)
                            timerValueMinutes = '0' + timerValueMinutes;
                        else
                            timerValueMinutes = timerValueMinutes + '';

                        const timerValue = timerValueHour + ':' + timerValueMinutes;


                        let rowPart1 = `<tr>
				<td><input type="checkbox" id="chEn_${sta.stationNum}_${timer._id}"`

                        if (timer.enabled)
                            rowPart1 = rowPart1 + "checked"

                        let rowPart2 = `></td>
				<td><input type="time" id="tp_${sta.stationNum}_${timer._id}" value="${timerValue}"></td>
				<td>${sta.stationNum}</td>
                <td><input type="checkbox" id="chRm_${sta.stationNum}_${timer._id}"></td></tr>`
                        $('#timersTable').append(rowPart1 + rowPart2);

                    }
                }
            }
        })
    })



    function showTimerForm() {
        $subscribeWindow.fadeIn();
    }

    function hideTimerForm() {
        $subscribeWindow.fadeOut();
    }

    function showTimerInfo() {
        $timer_info.fadeIn();
    }

    function hideTimerInfo() {
        $timer_info.fadeOut();
    }

    function logout() {
        const options = {
            method: 'POST'
        }

        fetch('logout', options)
            .then(res => res.json())
            .then(data => {
                document.location.href = "/";
            })
    }

    function addTimer() {
        let selectedStaNum = $('#stationSelector').find(":selected").text();

        $.ajax({
            url: `/addTimer`,
            type: 'POST',
            dataType: 'json',
            data: { stationNum: selectedStaNum },
            success: (data) => {
                console.log(data)

                hideTimerForm();
                $("#timer_info_text").text(data.msg);

                showTimerInfo();
                setTimeout(() => {
                    hideTimerInfo();
                    location.reload();
                }, 2000);
            }
        })
    }


    function saveTimers() {

        var x = new Date();
        var zoneOffset = x.getTimezoneOffset() * -1;

        let stationTimers = [];
        let removedStationTimers = [];

        let i = 0;

        for (sta of savedUserStations) {

            if (sta.timers.length) {
                stationTimers.push({ stationNum: sta.stationNum, timers: [] });
                removedStationTimers.push({ stationNum: sta.stationNum, timers: [] });
            }
            else
                continue;

            for (timer of sta.timers) {

                let t = {};

                t.zoneOffset = zoneOffset;
                let timerValueString = document.getElementById(`tp_${sta.stationNum}_${timer._id}`).value;

                const splitedTimerValue = timerValueString.split(':');
                const hours = parseInt(splitedTimerValue[0], 10);
                const minutes = parseInt(splitedTimerValue[1], 10);

                let timerValue = hours * 3600 + minutes * 60;

                t.timerValue = timerValue;
                t.timerId = timer._id;
                t.enabled = document.getElementById(`chEn_${sta.stationNum}_${timer._id}`).checked;

                stationTimers[i].timers.push(t);

                if (document.getElementById(`chRm_${sta.stationNum}_${timer._id}`).checked) {
                    console.log(timer._id)
                    removedStationTimers[i].timers.push(timer._id);
                }
            }
            i++;
        }

        $.ajax({
            url: `/setTimers`,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(stationTimers),
            success: (data) => {

                $.ajax({
                    url: `/removeTimers`,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(removedStationTimers),
                    success: (data) => {
                        location.reload();
                    }
                })
            }

        })
    }
</script>