<form method="post" class="form-register">
    <div class="container"> 
        <div class="mx-4">
            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info">
                Телефон:
            </div>
            <div class="input-group mb-3">
                <input name="phone" style="padding: 8px;" type="text" class="form-control" placeholder="+7(___)___-____" aria-describedby="basic-addon1" id="phone" required>
            </div>

            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info mt-3">
                Пароль:
            </div>
            <div class="input-group mb-3">
                <input style="padding: 8px;" type="password" class="form-control" name="password" id="password" required>
            </div>

            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info mt-3">
                Повторите пароль:
            </div>
            <div class="input-group mb-3">
                <input style="padding: 8px;" type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" required>
            </div>

            <div class="d-flex justify-content-end mt-4 mt-md-3">
                <button style="" class="classical-btn" type="button" onclick="checkRegistrationParams()" id="checkButton">
                    Получить SMS
                </button>
            </div>

            <div style="font-weight: 250; font-size: 1.3rem;" class="text-charger-info mt-3">
                Введите код из SMS:
            </div>
            <div class="input-group mb-3">
                <input style="padding: 8px;" type="password" class="form-control" id="code" name="code" required>
            </div>

            <div class="d-flex justify-content-end mt-4 mt-md-3">
                <button style="" class="classical-btn" disabled type="button" onclick="register()" id="registerButton">
                    Создать аккаунт
                </button>
            </div>
        </div>

        <div class="commonTextLittle">
        <span hidden id="smsAttampString">Вы сможете отправить код повторно через: <span hidden
                id="smsAttampTimer"></span> сек.</span>
        </div>
        
        {{!-- <button class="commonButton" disabled type="button" onclick="register()" id="registerButton">Создать аккаунт</button> --}}
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<script>
    function checkRegistrationParams() {
        const phone = (document.getElementById('phone').value).replace(/[-+()\s]/g, '');
        const password = document.getElementById('password').value;
        const passwordRepeat = document.getElementById('passwordRepeat').value;

        if (phone.length != 11) {
            alert("Введите номер телефона")
            return
        }

        if (password.length < 6) {
            alert("Длина пароля должна быть не меньше 6 символов")
            return
        }

        if (password !== passwordRepeat) {
            alert("Пароли не совпадают")
            return
        }

        const req = { phone: phone };

        const options = {
            method: 'POST',
            body: JSON.stringify(req),
            headers: { 'Content-Type': 'application/json' }
        }
        fetch('checkPhone', options)
            .then(res => res.json())
            .then(data => {
                if (data.codeSent) {

                    smsTimer(data.expire);

                    document.getElementById('phone').disabled = true;
                    document.getElementById('password').disabled = true;
                    document.getElementById('passwordRepeat').disabled = true;
                    document.getElementById('code').disabled = false;
                    document.getElementById('registerButton').disabled = false;
                }
                else {
                    alert(data.msg);
                    document.getElementById('code').disabled = false;
                    document.getElementById('registerButton').disabled = false;
                    smsTimer(data.expire);
                }
            })
    }
    function register() {
        const phone = (document.getElementById('phone').value).replace(/[-+()\s]/g, '');
        const password = document.getElementById('password').value;
        const code = document.getElementById('code').value;
        const req = { phone: phone, password: password, code: code };
        const options = {
            method: 'POST',
            body: JSON.stringify(req),
            headers: { 'Content-Type': 'application/json' }
        }
        fetch('registration', options)
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    document.location.href = data.url;
                }
                else {
                    alert(data.msg);
                    if (data.refresh)
                        location.reload();
                }
            })
    }

    function smsTimer(expire) {

        if(!expire)
            return;

        let delta = Math.floor((expire - Date.now()) / 1000);
        if (delta < 0)
            return;

        document.getElementById('smsAttampTimer').innerHTML = delta;
        document.getElementById('smsAttampString').hidden = false;
        document.getElementById('smsAttampTimer').hidden = false;
        document.getElementById('checkButton').disabled = true;

        let timer;

        timer = setInterval(() => {
            document.getElementById('smsAttampTimer').innerHTML = delta;
            delta--;
            if (!delta) {
                document.getElementById('smsAttampString').hidden = true;
                document.getElementById('smsAttampTimer').hidden = true;
                document.getElementById('checkButton').disabled = false;
                document.getElementById('smsAttampTimer').innerHTML = '';
                clearInterval(timer)
            }
        }, 1000);

    }
</script>