<form method="post" class="form">
    <div class="container">
        <h1 class="commonTextTitle">Регистрация</h1>
        
        <hr>
        {{!-- <p class="commonTextLittle">Заполните все поля</p> --}}
        <label class="commonText" for="phone"><b>Номер телефона</b></label>
        <input type="tel" placeholder="+7(___)___-____" name="phone" id="phone" required>

        <label class="commonText" for="password"><b>Пароль</b></label>
        <input type="password" placeholder="" id="password" name="password" required>

        <label class="commonText" for="passwordRepeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="" id="passwordRepeat" name="passwordRepeat" required>
        <hr>
        <div class="commonTextLittle">
        <span hidden id="smsAttampString">Вы сможете отправить код повторно через: <span hidden
                id="smsAttampTimer"></span> сек.</span>
        </div>     
        <br>
        <button class="commonButton" type="button" onclick="checkRegistrationParams()" id="checkButton">Проверить данные и отправить код
            подтверждения</button>
        <hr>
        <label class="commonText" for="code"><b>Код из СМС</b></label>
        <input disabled type="code" placeholder="" id="code" name="code" required>

        {{!-- <p>Создавая аккаунт, Вы даёте согласие на обработку персональных данных и соглашаетесь с <a
                href="#">условиями</a>.</p> --}}
        <hr>
        <button class="commonButton" disabled type="button" onclick="register()" id="registerButton">Создать аккаунт</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<script>
    function checkRegistrationParams() {
        const phone = (document.getElementById('phone').value).replace(/[-+()\s]/g, '');
        const password = document.getElementById('password').value;
        const passwordRepeat = document.getElementById('passwordRepeat').value;

        if (phone.length != 11) {
            alert("Введите номер телефона")
            return
        }

        if (password.length < 6) {
            alert("Длина пароля должна быть не меньше 6 символов")
            return
        }

        if (password !== passwordRepeat) {
            alert("Пароли не совпадают")
            return
        }

        const req = { phone: phone };

        const options = {
            method: 'POST',
            body: JSON.stringify(req),
            headers: { 'Content-Type': 'application/json' }
        }
        fetch('checkPhone', options)
            .then(res => res.json())
            .then(data => {
                if (data.codeSent) {

                    smsTimer(data.expire);

                    document.getElementById('phone').disabled = true;
                    document.getElementById('password').disabled = true;
                    document.getElementById('passwordRepeat').disabled = true;
                    document.getElementById('code').disabled = false;
                    document.getElementById('registerButton').disabled = false;
                }
                else {
                    alert(data.msg);
                    document.getElementById('code').disabled = false;
                    document.getElementById('registerButton').disabled = false;
                    smsTimer(data.expire);
                }
            })
    }
    function register() {
        const phone = (document.getElementById('phone').value).replace(/[-+()\s]/g, '');
        const password = document.getElementById('password').value;
        const code = document.getElementById('code').value;
        const req = { phone: phone, password: password, code: code };
        const options = {
            method: 'POST',
            body: JSON.stringify(req),
            headers: { 'Content-Type': 'application/json' }
        }
        fetch('registration', options)
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    document.location.href = data.url;
                }
                else {
                    alert(data.msg);
                    if (data.refresh)
                        location.reload();
                }
            })
    }

    function smsTimer(expire) {

        if(!expire)
            return;

        let delta = Math.floor((expire - Date.now()) / 1000);
        if (delta < 0)
            return;

        document.getElementById('smsAttampTimer').innerHTML = delta;
        document.getElementById('smsAttampString').hidden = false;
        document.getElementById('smsAttampTimer').hidden = false;
        document.getElementById('checkButton').disabled = true;

        let timer;

        timer = setInterval(() => {
            document.getElementById('smsAttampTimer').innerHTML = delta;
            delta--;
            if (!delta) {
                document.getElementById('smsAttampString').hidden = true;
                document.getElementById('smsAttampTimer').hidden = true;
                document.getElementById('checkButton').disabled = false;
                document.getElementById('smsAttampTimer').innerHTML = '';
                clearInterval(timer)
            }
        }, 1000);

    }
</script>